async-timeout
backcall
backports.tarfile
cachetools
entrypoints
fqdn
gensim
gitpython
hurry
hurry.filesize
importlib-metadata
importlib-resources
ipython-genutils
isodate
isoduration
jaraco.collections
jsonpointer
lxml
matplotlib
notebook
pandas
pickleshare
pip-chill
pkgutil-resolve-name
pyodbc
pyrsistent
python-levenshtein
python-louvain
scikit-learn
sparqlwrapper
tensorflow
tomli
tomlkit
torch
# torch-cluster
# torch-geometric
# torch-scatter
# torch-sparse
# torch-spline-conv
uri-template
webcolors
